<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Priceop</title>
    <link rel="stylesheet" href="fonts/font.css" />
    <link
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
    />
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>
<header class="header-sec">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="d-flex w-100 justify-content-between">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.svg" alt="Logo" />
                </a>
                <div class="d-flex d-lg-none">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
                        <li class="nav-item login-btn me-2">
                            <a class="nav-link" aria-current="page" href="/">
                                <i class="fa-solid fa-arrow-right-to-bracket"></i> Log In
                            </a>
                        </li>
                    </ul>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/categories}">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/live_products">Live Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/main_products">Main Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/about-us">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/merchant_section">Merchant Section</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-0 mb-2 mb-lg-0 ms-auto d-none d-lg-flex">

                        <li class="nav-item login-btn">
                            <a class="nav-link" aria-current="page" href="/loginSignup">
                                <i class="fa-solid fa-arrow-right-to-bracket"></i> Log In
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="banner-sec">
    <div class="container">
        <div class="bannerTxt">
            <h1>Compare, Find Products with Priceop</h1>
            <form class="bnr-srch" action="/search" method="get">
                <input type="search" placeholder="Search by Product Name" name="query" th:value="${query}"/>
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
</div>




<div class="container plain about-shops pt-5 mb-4">
    <h2 class="site-heading mb-3">Browse by Category</h2>
    <div class="container mt-3 text-end">
        <button id="addCategoryButton" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#createCategoryModal">
            Create Category
        </button>
    </div>
</div>

<!--	<section class="cate_sec py-5">-->
<!--		<div class="container">-->
<!--			<div class="row g-lg-3 g-2">-->
<!--				<th:block th:each="category : ${categories}">-->
<!--					<div class="col-md-4 col-lg-3 col-6">-->
<!--					<div class="group">-->
<!--						<h2 class="sub-heading"><a th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name}"></a></h2>-->
<!--					</div>-->
<!--				</div>-->
<!--				</th:block>>-->
<!--			</div>-->
<!--		</div>-->
<!--	</section>-->

<section class="cate_sec py-5">
    <div class="container">
        <div class="row g-lg-3 g-2">
            <!-- Loop through main categories -->
            <th:block th:each="mainCategory : ${mainCategories}">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- Main Category Heading (Bold and Clickable) -->
                    <h2 class="group sub-heading">
                        <a th:href="@{/category/{id}(id=${mainCategory.id})}"
                           th:text="${mainCategory.name}"></a>
                    </h2>

                    <!-- Subcategories Section -->
                    <div class="sub-categories ">
                        <ul class="list-unstyled ">
                            <!-- Loop through subcategories and limit display to first 5 -->
                            <th:block th:each="subCategory, iterStat : ${subcategoriesMap[mainCategory.id]}">
                                <th:block th:if="${iterStat.index < 5}">
                                    <li class="small-text">
                                        <a th:href="@{/category/{id}(id=${subCategory.id})}"
                                           th:text="${subCategory.name}"></a>
                                    </li>
                                </th:block>
                            </th:block>
                        </ul>

                        <!-- View More button if there are more than 5 subcategories -->
                        <th:block th:if="${subcategoriesMap[mainCategory.id]?.size() > 5}">
                            <a th:href="@{/category/{id}(id=${mainCategory.id})}" class="btn btn-sm mt-0">View More</a>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</section>





<!-- Modal for creating a new category -->
<div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="createCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCategoryModalLabel">Create New Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add-category" method="post" id="createCategoryForm">
                    <div class="mb-3">
                        <label for="categoryName" class="form-label">Category Name</label>
                        <input type="text" class="form-control" id="categoryName" name="name" required />
                    </div>
                    <div class="mb-3">
                        <label for="categoryImage" class="form-label">Category Image URL</label>
                        <input type="text" class="form-control" id="categoryImage" name="imagePathUrl"/>
                    </div>
                    <div class="mb-3 mt-4">
                        <label for="category" class="form-label">Parent Category</label>
                        <select class="form-select form-select-lg" id="category" name="parentCategoryId">
                            <option value="" disabled selected>Select a Parent Category</option>
                            <!-- Thymeleaf to iterate over categories -->
                            <option value="null">None</option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}">Category Name</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Category</button>
                </form>
            </div>
        </div>
    </div>
</div>


<section class="news_sec text-center">
    <div class="container">

        <h3 class="site-heading mb-2">Subscibe for Newsletter</h3>
        <p>Keep up our latest news and offers. Subscibe our newsletter.</p>
        <form class="bnr-srch">
            <input type="search" placeholder="Search by Product Name">
            <button type="submit"class="text-uppercase">
                Subscribe <i class="fa-solid fa-arrow-right ms-2"></i>
            </button>
        </form>

    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="link_bx col-md-3 col-6">
                <h3 class="site-heading">Need Help ?</h3>
                <ul>
                    <li><a href="#">About Priceop</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">How to Use</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="link_bx col-md-3 col-6">
                <h3 class="site-heading">Top Stores</h3>
                <ul>
                    <li><a href="#">Ted Baker UK</a></li>
                    <li><a href="#">Raw Denim</a></li>
                    <li><a href="#">Damart</a></li>
                    <li><a href="#">Long Tall Sally</a></li>
                    <li><a href="#">Fragrance Direct</a></li>
                </ul>
            </div>
            <div class="link_bx col-md-3 col-6">
                <h3 class="site-heading">Business</h3>
                <ul>
                    <li><a href="#">Flight Comparison</a></li>
                    <li><a href="#">Product Comparison</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Register a Shop</a></li>
                    <li><a href="#">Affiliate Partner Programme</a></li>

                </ul>
            </div>
            <div class="link_bx col-md-3 col-6">
                <h3 class="site-heading">Follow us</h3>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok"></i> TikTok</a></li>
                    <li><a href="#"><i class="fa-brands fa-telegram"></i> Telegram</a></li>
                </ul>
            </div>
        </div>
        <div class="col2 d-md-flex align-items-center justify-content-between">

            <div class="logo_sec d-md-flex align-items-center">
                <div class="d-md-inline d-none">
                    <a href="#"><img src="images/logo.svg" alt="Priceop" style="max-width: 50px;"></a>
                </div>
                <a href="#">Home</a>
                <a href="#">Comparison Product</a>
                <a href="#">Shows</a>
                <a href="#">Reviews</a>
                <a href="#">Blog</a>
            </div>
            <div class="logo_sec d-flex align-items-center right_links">
                <a href="#" title="Sell Tickets">Return Policy</a>
                <a href="#" title="Support">Support</a>
            </div>
        </div>
        <div class="col2 d-md-flex align-items-center justify-content-between copyrow">
            <div class="logo_sec d-flex align-items-center">
                <span>© 2024 Priceop. All rights reserved.</span>
            </div>
            <div class="logo_sec d-flex align-items-center right_links">
                <a href="#" title="Terms of Service">Terms of Service</a>
                <a href="#" title="Privacy Policy">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>

<style>
    .bold-text {
        font-weight: bold;
        font-size: 1.25rem;
        color: #333;

    }

    .small-text {
        font-size: 0.95rem;
        font-weight: normal;
        color: #666;
        margin-bottom: 5px;
    }

    .sub-categories ul {
        padding-left: 0;
        list-style: none;
    }

    .sub-categories li {
        margin-bottom: 5px;
    }

</style>



<script>
    $(document).ready(function () {



      $(".slick-slider").slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        arrows: true,
        dots: false,
        speed: 300,
        infinite: false,
        autoplaySpeed: 5000,
        autoplay: false,
        responsive: [
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
            },
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
            },
          },
          {
            breakpoint: 390,
            settings: {
              slidesToShow: 1,
            },
          },
        ],
      });


    });

</script>
</body>
</html>
